*{
  font-family: 'Proxima Nova Alt','proxima-nova', 'Proxima Nova', sans-serif;
  font-weight: 300 !important;
}
body {
    background-color: #eef2f3;
}
input {
	outline: 0!important;
}
a {
	color: #000;
	font-weight: 900;
}
a:hover {
    text-decoration: none!important;
    color: #000;
}
li {
	list-style-type: none;
}
ul{
	padding: 0em;
}
p{
	font-size: 1.1em;
	margin: 0em;
}
.item {
	display: inline-block;
	margin-bottom: 1em !important;
}
.navbar {
	background-color: #fff;
	font-size: 0.9em;
}
.navbar-inner {
	background-color: #fff;
	font-size: 0.9em;
}
.brand p{
	display: inline-block;
	font-size: 1.5em;
}
#id {
	display: inline-block;
}
#categories {
	padding: 0.1em 0.1em 0.1em 0em;
	display: inline-block;
}
.page-header {
	margin: 0em;
}
#category-message {
	text-align: center;
}
.list-group {
	padding: 1em;
}
.add-button {
	right: 2em;
  	bottom: 2em;
  	position: fixed;
  	outline: 0!important;
  	padding: 8px 12px;
  	border-radius: 5em;
}
#submit-book {
	width: 20em;
}
.add-form {
	right: 2em;
	bottom: 1.5em;
	position: fixed;
	padding: 0em;
	margin: 0em;
}
.thumbnail {
	margin: auto;
	min-width: 15em;
	max-width: 15em;
	height: auto;
	padding: 0em;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  text-align: center;
}
.content {
	padding: 0.5em;
}
.like-bar {
	border-width: 1px;
   	border-bottom: 1px #d0c9c9 solid;
   	padding: 0.1em 0em 0.3em;
}
.dropdown-menu {
	left: auto;
	right: 0;
}
#login-button {
	margin: 0.8em 1.2em 0em;
}
@media (max-width:500px) {
    .brand p {
    	display: none;
    }
}
}



